@font-face {
  font-family: "iconfont"; /* Project id 4781349 */
  src: url('//at.alicdn.com/t/c/font_4781349_zlwi7a8lelk.woff2?t=1734093389279') format('woff2'),
       url('//at.alicdn.com/t/c/font_4781349_zlwi7a8lelk.woff?t=1734093389279') format('woff'),
       url('//at.alicdn.com/t/c/font_4781349_zlwi7a8lelk.ttf?t=1734093389279') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youxiang:before {
  content: "\e604";
}

.icon-tongji:before {
  content: "\e61b";
}

.icon-xingxing:before {
  content: "\e870";
}
