@font-face {
  font-family: "iconfont"; /* Project id 4755563 */
  src: url('//at.alicdn.com/t/c/font_4755563_duubleshzq.woff2?t=1734088100049') format('woff2'),
       url('//at.alicdn.com/t/c/font_4755563_duubleshzq.woff?t=1734088100049') format('woff'),
       url('//at.alicdn.com/t/c/font_4755563_duubleshzq.ttf?t=1734088100049') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yueliang:before {
  content: "\e611";
}

.icon-tongjifenxi:before {
  content: "\e666";
}

.icon-taiyang1:before {
  content: "\e6db";
}

.icon-Flower9:before {
  content: "\e8a5";
}

.icon-taiyang:before {
  content: "\e6b6";
}

.icon-youxiang:before {
  content: "\e623";
}
